################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plugins/ExternalService.OpenWeather/obj
/Plugins/ExternalService.OpenWeather/bin
/Solutions/.vs/ExternalService.OpenWeather/v15
